body {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

/* header part */

.dark-bg-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1F2937;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    width: 100%;
    padding: 18px;
}

a {
    text-decoration: none;
}

li {  
    list-style-type: none;
    display: inline;
}

.main {
    gap: 40px;
}

.info-left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap; 
    gap: 18px;
    margin-right: 40px;
}

.info-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: auto;
    max-width: 440px;
    width: 100%;
}

.portimg {
    background-color: blueviolet;
    max-width: 460px;
    max-height: 350px;
    width: 100%;
    height: auto;
}