body {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

/* header part */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-bottom: 50px;
    padding-top: 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: auto;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 12px;
    flex: auto;
}

/* info part */

.info {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding-bottom: 75px;
    gap: 50px;
    flex: auto;
}

.info-left {
    display: flex;
    flex-direction: column;
}

.info-right {
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.portimg {
    width: auto;
    height: auto;
    max-width: 540px;
    max-height: auto;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    max-width: 120px;
    padding: 8px;
    border: 0;
    color: #E5E7EB;
    border-radius: 12px;
    font-weight: bold;
}

/* Random info part */